html,body{
	height: 100%;
	width: 100%;
	box-sizing: content-box;
	margin: 0px;
	display: inline-block;
    font-family: "Poetsen One", sans-serif;
}

@font-face {
    font-family: platform_eight;
    src: url(../fonts/platform_eight.ttf)
  }

.pages{
	background-image: url(../imgs/Background/Background3840x2880.png);
	background-size: contain;
	width: 100%;
	height: 100%;
	display: flex;
	/*position: relative;*/
	overflow: hidden;
}

#MenuSelector {
    display: flex;
    width: 150px;
    height: auto;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
	position: fixed;
	right: 10px;
	top: 50%;
    transform: translateY(-50%);
}

#listMenu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listMenuLI{
	font-size: 20px;
	margin: 0 50px;
	font-family: "Poetsen One", sans-serif;
 	font-weight: 400;
  	font-style: normal;
	color: white;
}

#firstPage {
    background-image: url(../imgs/Cloud/thumb.png);
    background-size: cover;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 220vw;
    position: relative;
    background-position: top;

    @media screen and (min-width: 768px) {
       height: 100vw;
    }

    @media screen and (min-width: 1280px) {
        height: 56vw;
    }
}

#HeaderFirstPage {
    top: 0px;
    width: 100%;
    position: relative;
    min-width: 1000px;
}

#firstPageLogoEnter {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#LogoPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    position: relative;
    top: -100px;

    @media screen and (min-width: 1920px) {
        width: 400px;
    height: 400px;
    }
}

#NakLogo {
	transform-origin: bottom;
	transition: transform 0.3s ease-in-out;

    @media screen and (min-width: 1920px) {
        width: 400px;
    height: 400px;
    }
}

#AkapayaLogo {
    width: 150%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#SubTitleLogo {
    font-family: "Poetsen One", sans-serif;
    color: #FFE354;
    margin: 0;
    padding: 0;
    top: -40px;
    position: relative;
    font-size: x-large;

    @media screen and (min-width: 1920px) {
        font-size: 350%;
    }
}

#SocialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.SocialLogos {
    width: 50px;
    transition: width 0.3s;
    margin-left: 10px;
    margin-right: 10px;

    @media screen and (min-width: 1280px) {
        width: 80px;
    }

    @media screen and (min-width: 1920px) {
        width: 140px;
    }
}

.SocialLogos:hover {
    width: 110px;
}

#secondPage {
    background-color: white;
    background-image: none;
    height: 200vw;
    width: 100vw;
    overflow: visible;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    align-items: center;

    @media screen and (min-width: 576px) {
       height: 166vw;
    }

    @media screen and (min-width: 768px) {
        height: 110vw;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        height: 44vw;
    }
}

#ContainerGreg {
    width: 70vw;
        height: 70vw;
    position: absolute;
    bottom: 0;
    @media screen and (min-width: 768px) {
        width: 45vw;
        height: 45vw;
    }

    @media screen and (min-width: 1024px) {
        position: initial;
    }
}

#MiniGreg{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 1024px) {
        position: initial;
        margin-left: 10%;
    }
}

#ContainerAboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
        padding-bottom: 0%;
    box-sizing: border-box;

    @media screen and (min-width: 1024px) {
        width: 56%;
    }
}

#Name{
    font-size: 133%;
    @media screen and (min-width: 1920px) {
        font-size: 220%;
    }
}

.AboutMeTexts{
    font-size: 120%;
    width: 80%;
    margin-bottom: 0px;

    @media screen and (min-width: 1920px) {
        font-size: 180%;
    }
}

#AboutMeList{
    list-style-type: none;
    width: 80%;
    font-size: 120%;
    font-weight: 100;

    @media screen and (min-width: 1920px) {
        font-size: 180%;
    }
}

#SeeMoreMe{
    
}

.dashed-line {
    border-top: 5px dashed #25231C;
    position: absolute;
    width: 100vw;
    bottom: 0px;
    z-index: 2;
}

@media screen and (max-width: 1023px) {
        #ContainerGreg {
        order: 2;
    }
    #ContainerAboutMe {
        order: 1;
    }
    }

#thirdPage {
    width: 100vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: none;

    @media screen and (min-width: 1280px) {
        height: 45vw;
    }
}

#MainVideoContainer{
    width: 80vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and (min-width: 768px) {
        height: 41vw;
    }

    @media screen and (min-width: 1280px) {
        height: 40vw;
    }
}

.PlayVideoIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    animation: pulse-size 1s infinite;
}

#LovePetMainVideo{
    width: 80px;
    height: 100px;
    position:absolute  ;
    right: -60px;
    bottom: -30px;
    display: inline-flex;
    transform-origin: bottom;
}

#mainVideo{
    width: 100%;
    height: 100%;
}

#HeaderFourthPage {
    top: 0px;
    width: 100%;
    position: relative;
    min-width: 1000px;
}

#fourthPage{
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 475vw;
    position: relative;

    @media screen and (min-width: 375px) {
        height: 430vw;
    }

    @media screen and (min-width: 390px) {
        height: 440vw;
    }

    @media screen and (min-width: 576px) {
        height: 480vw;
    }

    @media screen and (min-width: 768px) {
        height: 340vw;
    }

     @media screen and (min-width: 1024px) {
        height: 240vw;
    }

    @media screen and (min-width: 1200px) {
        height: 200vw;
    }

    @media screen and (min-width: 1440px) {
        height: 175vw;
    }

        @media screen and (min-width: 1920px) {
        height: 200vw;
    }
}

.dashed-line-vertical {
    border-left: 0.5vw dashed white;
    height: auto;
    width: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media screen and (min-width: 1920px) {
        border-left: 0.3vw dashed white;
    }
}

.dashed-line-horizontal
{
    border-bottom: 0.7vw dashed white;
    height: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media screen and (min-width: 1920px) {
        border-bottom: 0.4vw dashed white;
    }
}

.HistoricDivs{
    display: flex;
    width: 100%;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 9fr; */
    gap: 10px;
    width: 90vw;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

#TitleItem {
    font-size: 90%;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 576px) {
        font-size: 140%;
    }

    @media screen and (min-width: 1920px) {
        font-size: 200%;
    }
}

.item {
    color: white;
    text-align: center;
    max-width: 70vw;
}

.item p{
    font-size: 90%;
    padding-left: 3%;
    text-align: justify;
    padding-right: 3%;
    @media screen and (min-width: 576px) {
        font-size: 120%;
    }

    @media screen and (min-width: 1920px) {
        font-size: 200%;
    }
}

#Awards {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
}

#Awards h1{
    font-size: 150%;
    color: #FFE354;

    @media screen and (min-width: 820px) {
        font-size: 250%;
    }

    @media screen and (min-width: 1920px) {
        font-size: 300%;
    }
}

#IconNakHappy{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 10%;
    bottom: 10%;

    @media screen and (min-width: 576px) {
        bottom: 9%;
    }

    @media screen and (min-width: 768px) {
        height: 150px;
        width: 150px;
    }
}

#HappyNakCloud {
    width: 100%;
    height: 100%;
    position: absolute;
}

#HappyNak {
    width: 100%;
    height: 100%;
    position:absolute;
    top: -50%;
    transform-origin: bottom;
}

#FooterFourthPage {
    bottom: 0;
    width: 100%;
    position: absolute;
    min-width: 1000px;
}

#fivePage {
    height: 70vw;
    position: relative;
    background-color: white;
    background-image: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: 55vw;
    }
        @media screen and (min-width: 1024px) {
        height: 75vw;
    }
}

.SlideItems{
    position: absolute;
    overflow: hidden;
    border: 10px solid #25231c;
    border-radius: 30px;
    width: 80%;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
  .SlideItems.active {
    opacity: 1;
    display: inline-block;
  }
  

.SlideItems img{
    width: 100%;
    display: block;
      position: relative;
      z-index: 1; 
}

#TitleBox {
    background-image: url(../imgs/Icons/Title.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 19vw;
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
        width: 30vw;
    height: 14vw;
    left: 9%;
    top: 15%;
    }

    @media screen and (min-width: 1024px) {
    top: 24%;
    }
}

#TitleTitleBox {
    font-size: 90%;
    color: white;
    margin: 0 0 1vw 5vw;
    max-width: 147px;
    @media screen and (min-width: 768px) {
        font-size: 130%;
        max-width: 200px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 240%;
        max-width: 440px;
    }
}

#OccupationBox{
    font-size: 60%;
    color: white;
    margin: 0 0 1vw 5vw;
    max-width: 147px;
    @media screen and (min-width: 768px) {
        font-size: 100%;
        max-width: 200px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 210%;
        max-width: 440px;
    }
}

#SliderShowCopyright{
    font-size: 90%;
    color: white;
    position: absolute;
    left: 12%;
    bottom: 15%;
    z-index: 5;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    3px 0px 0 black,
    -3px 0px 0 black,
    0px 3px 0 black,
    0px -3px 0 black;

    @media screen and (min-width: 576px) {
        bottom: 16%;
    }

    @media screen and (min-width: 768px) {
        font-size: 170%;
        bottom: 11%;
    }
    @media screen and (min-width: 1024px) {
        font-size: 180%;
        bottom: 20%;
    }
    @media screen and (min-width: 1920px) {
        font-size: 280%;
    }
}

#SeeMoreSliderShow{
    position: absolute;
    right: 13%;
    bottom: 20%;
    z-index: 5;
    border-style: solid;
    border-color: white;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    3px 0px 0 black,
    -3px 0px 0 black,
    0px 3px 0 black,
    0px -3px 0 black;

    @media screen and (min-width: 576px) {
        right: 13%;
        bottom: 20%;
    }

    @media screen and (min-width: 1024px) {
         bottom: 23%;
    }
}

.SeeMoreButton{
    font-family: "Poetsen One", sans-serif;
    border-radius: 10px;
    color:white;
    font-size: 150%;
    background-color: #25231C;
    opacity: 0.9;
    padding: 2%;
    box-shadow: none;
    border: none;
    text-decoration: none;

     @media screen and (min-width: 1024px) {
        font-size: 150%;
        padding: 2%;
    }

    @media screen and (min-width: 1200px) {
        font-size: 150%;
        padding: 2%;
    }

    @media screen and (min-width: 1920px) {
        font-size: 280%;
    }
}

#ToLeftSliderShow{
    position: absolute;
    left: 12%;
    top: 42%;
    z-index: 5;
    width: 40px;
    height: 40px;

    @media screen and (min-width: 576px) {
        left: 12%;
        top: 40%;
        width: 50px;
        height: 50px;
    }

    @media screen and (min-width: 1024px) {
        width: 100px;
        height: 100px;
    }
}

#ToRightSliderShow{
    position: absolute;
    right: 12%;
    top: 42%;
    z-index: 5;
    width: 40px;
    height: 40px;

    @media screen and (min-width: 576px) {
        right: 12%;
        top: 40%;
        width: 50px;
        height: 50px;
    }

    @media screen and (min-width: 1024px) {
        width: 100px;
        height: 100px;
    }
}

#sixPage{
    background-size: cover;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 250vw;
    position: relative;

    @media screen and (min-width: 576px) {
        height: 187vw;
    }

    @media screen and (min-width: 768px) {
        height: 130vw;
    }

    @media screen and (min-width: 1024px) {
        height: 101vw;
    }

        @media screen and (min-width: 1200px) {
        height: 85vw;
    }

    @media screen and (min-width: 1920px) {
        height: 70vw;
    }
}

#HeaderSixPage{
    width: 100%;
    position: relative;
    min-width: 1000px;
}

.ContactMeContainer
{
    width: 90vw;
    height: 160vw;
    background-color: #FEFFFD;
    border-radius: 20px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: 80vw;
    }

    @media screen and (min-width: 1200px) {
        height: 50vw;
        max-width: 50%;
    }

    @media screen and (min-width: 1920px) {
        height: 35vw;
    }
}

#ContactMeTitle{
    color: #25231C;
    font-size: xx-large;
}

#contactForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #25231C;
  border: none;
    color: #FFE354;
    font-family: "Poetsen One", sans-serif;
    font-size: 20px;
    padding: 13px;
  }
  
  input[type="text"],
input[type="email"],
  textarea::placeholder {
    color: #FFE354;
    font-weight: 200;
    font-family: "Poetsen One", sans-serif;
  }

  input::placeholder {
    color: #FFE354;
    font-weight: 200;
    font-family: "Poetsen One", sans-serif;
  }

.SubmitButtom {
    width: 125px;
    height: 50px;
    padding: 10px;
    background-color: #25231C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Poetsen One", sans-serif;
    margin: 6vh 0 0 0;
}

.SubmitButtom:hover {
  background-color: #D9D9D9;
}

#FooterSixthPage {
    width: 100%;
    position: absolute;
    bottom: 0;
    min-width: 1000px;
}

.ResultContact{
    height: 85vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ResultContact p{
    color: white;
    font-size: 135%;
    max-width: 400px;

    @media screen and (min-width: 768px) {
        font-size: 190%;
        max-width: 700px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 220%;
    }
}

#IconNakHappyContact{
    position: absolute;
    right: 70vw;
    bottom: 55vh;
}

#HappyNakCloudContact {
    width: 200px;
    height: 220px;
    right: -42vw;
    top: -2vh;
    position: absolute;
}

#HappyNakContact {
    width: 180px;
    height: 180px;
    position:absolute  ;
    right: -40vw;
    top: -9vh;
    transform-origin: bottom;
}

#IconNakHappyBadContact{
    position: absolute;
    right: 70vw;
    bottom: 55vh;
}

#SadNakCloudBadContact {
    width: 200px;
    height: 220px;
    right: -42vw;
    top: -2vh;
    position: absolute;
}

#SadNakBadContact {
    width: 180px;
    height: 180px;
    position:absolute  ;
    right: -40vw;
    top: -9vh;
    transform-origin: bottom;
}

#sevenPage{
    height: 70vh;
    position: relative;
    background-color: white;
    background-image: none;
    color: #25231C;
    display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-bottom: 20px;

        @media screen and (min-width: 375px) {
        height: 90vh;
    }

        @media screen and (min-width: 768px) {
            height: 45vh;
        flex-direction: row;
    }

    @media screen and (min-width: 820px) {
            height: 30vh;
    }

    @media screen and (min-width: 1280px) {
            height: 40vh;
    }
}

#FooterIcon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    margin-bottom: 25px;
}

#LeftFooterDiv{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        width: 50%;
    }

        @media screen and (min-width: 1200px) {
        width: 60%;
    }
}

#LeftFooterDiv p{
    max-width: 390px;

    @media screen and (min-width: 1920px) {
        max-width: 800px;
        font-size: 180%;
    }
}

#RightFooterDiv{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    @media screen and (min-width: 768px) {
        width: 45%;
    }
}

#RightFooterDiv p{
    @media screen and (min-width: 1920px) {
        font-size: 160%;
    }
}

.FooterItems{
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (min-width: 768px) {
        margin: 0 0 0 1vw;
    }
}

.FooterIcons{
    width: 35px;
    margin-right: 20px;
}

#NakLogoFooter{
    width: 50px;

    @media screen and (min-width: 1920px) {
        width: 100px;
    }
}

#AkapayaLogoFooter{
    width: 200px;
    margin-left: -25px;

    @media screen and (min-width: 1920px) {
        width: 350px;
    }
}

/*404 page*/

#SadNak404Cloud{
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 10px;
}

#SadNak404 {
    width: 250px;
    position: absolute;
    z-index: 2;
    top: -60px;
    transform-origin: bottom;
}

#AkapayaLogo404{
    width: 150%;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
#ReturnButton{
    width: 20%;
    height: 45%;
    cursor: pointer;
    position: absolute;
    top: 270px;
    z-index: 4;
}

/*Miscs*/

.TextWithArrowExpand {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width: 1920px) {
        padding: 9px;
        border-width: 0px 9px 9px 0px;
    }
}

.ArrowToRight {
    background-color: transparent;
    border: solid #FFE354;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  @media screen and (min-width: 1920px) {
        padding: 9px;
        border-width: 0px 9px 9px 0px;
    }
}

.ArrowToRightNoExpanded{
    background-color: transparent;
    border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  @media screen and (min-width: 1920px) {
        padding: 9px;
        border-width: 0px 9px 9px 0px;
    }
}

.ArrowToDown {
    background-color: transparent;
    border: solid #FFE354;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  @media screen and (min-width: 1920px) {
        padding: 9px;
        border-width: 0px 9px 9px 0px;
    }
}

.collapsed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expanded {
    white-space: normal;
}


@keyframes pulse-border {
    0% { border: 5px solid #FFE354; }
    50% { border: 5px solid #25231C; }
    100% { border: 5px solid #FFE354; }
}

@keyframes pulse-size {
    0% { width: 100px; height: 100px; }
    50% { width: 120px; height: 120px; }
    100% { width: 100px; height: 100px; }
}

.animated-border {
    animation: pulse-border 2s infinite;
    border-radius: 20px;
}